.text {
  width: 150px;
  text-align: start;
}
.delete-btn {
  text-decoration: none;
  display: inline-block;
  padding: 15px 50px;
  position: relative;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  transition: 0.4s;
  background-color: rgb(20, 19, 56);
}
.delete-btn:hover {
  background-color: #f1c40f;
  color: rgb(20, 19, 56);
}
